{% extends ':landing:base.html.twig' %}

{% block body %}

    <header>
        <nav>
            <div class="nav-wrapper container">
                <a class="logo" href="{{ path('homepage') }}">
                  <strong>Symfony Skeleton</strong>
                </a>

                {% include ':landing:includes/menu.html.twig' %}
            </div>
        </nav>

        <section id="banner">
            <div class="index-banner">
                <div class="section no-pad-bot">
                    <div class="container">

                        <h1 class="header center"><strong>Symfony Skeleton</strong> is the simplest way to use Symfony framework with the basics bundles installed</h1>
                        <div class="row center">
                            <a href="https://github.com/cromattica/symfony-skeleton" id="download-button"
                               class="btn-large">Get Started</a>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </header>

    <section id="features">
      <div class="container">
        <h2>Features</h2>
        <p>Symfony Skeleton is the simplest way to use Symfony framework with the basics bundles installed.</p>
        <p>Every project has similar parts that you have to develop every time. We provide the basic bundles configured and ready to use.</p>
        <ul>
          <li><a href="{{ path('admin') }}">Access Administration</a></li>
          <li><a href="{{ path('fos_user_registration_register') }}">Register user</a></li>
        </ul>
      </div>
    </section>


    <section id="documentation">
      <div class="container">
        <h2>Documentation</h2>
        <p></p>
      </div>
    </section>

    {% include ':landing:includes/footer.html.twig' %}

{% endblock %}
