<header>
    <nav class="subpage">
        <div class="nav-wrapper container">
            <a class="logo" href="{{ path('homepage') }}">
              <strong>Symfony Skeleton</strong>
            </a>

            {% include ':landing:includes/menu.html.twig' %}
        </div>
    </nav>
</header>
