<ul class="right hide-on-med-and-down">
	<li><a href="https://github.com/cromattica/symfony-skeleton">Github</a></li>
	<li><a href="#documentation">Documentation</a></li>
	<li><a href="#credits">Credits</a></li>
</ul>
