<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5>Symfony Skeleton</h5>
                <p><strong>Symfony</strong> Skeleton is the simplest way to use Symfony framework with the basics bundles installed.</p>

            </div>
            
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made with <i class="tiny material-icons">favorite</i> by <a href="http://www.miguelangelmartin.me">Miguel Ángel Martín</a>
        </div>
    </div>
</footer>
