<header>
	<nav>
		<div class="nav-wrapper container">
			<a class="logo" href="{{ path('homepage') }}">
				<strong>Symfony Skeleton</strong>
			</a>

			{% include ':admin:includes/menu.html.twig' %}
		</div>
	</nav>
</header>
